[Match]
Name=br0

[Link]
RequiredForOnline=no

[Network]
{% for addr in client_bridge_interface.ip_addresses %}
Address={{ addr.address }}
{% endfor %}
DHCPServer=yes

[DHCPServer]
PoolOffset=10
PoolSize=64000
EmitDNS=yes
ServerAddress=10.12.255.254/16
DNS={{ service_ipv4_address | ansible.utils.ipaddr('address') }}
