[Match]
Name=br0

[Link]
RequiredForOnline=no

[Address]
Address={{ gateway_ipv4_address }}

[Network]
DHCPServer=yes

[DHCPServer]
PoolOffset=10
PoolSize=64000
EmitDNS=yes
DNS={{ service_ipv4_address | ipaddr('address') }}
