interface=br0
except-interface=lo
listen-address={{ anycast_ipv4_service_address | ansible.utils.ipaddr('address') }}
listen-address={{ anycast_ipv6_service_address | ansible.utils.ipaddr('address') }}
listen-address={{ gateway_ipv6_address | ansible.utils.ipaddr('address') }}
bind-interfaces

cache-size=10000

no-resolv
server=5.1.66.255@{{ service_ipv4_address | ansible.utils.ipaddr('address') }}
server=185.150.99.255@{{ service_ipv4_address | ansible.utils.ipaddr('address') }}
server=2001:678:e68:f000::@{{ service_ipv6_address | ansible.utils.ipaddr('address') }}
server=2001:678:ed0:f000::@{{ service_ipv6_address | ansible.utils.ipaddr('address') }}
all-servers
neg-ttl=5

bogus-priv
domain-needed
