interface=br0
except-interface=lo
listen-address={{ service_ipv4_address | ipaddr('address') }}
listen-address={{ service_ipv6_address | ipaddr('address') }}
bind-interfaces

cache-size=10000

no-resolv
server=193.110.81.0@{{ service_ipv4_address | ipaddr('address') }}
server=185.253.5.0@{{ service_ipv4_address | ipaddr('address') }}
server=2a0f:fc80::@{{ service_ipv6_address | ipaddr('address') }}
server=2a0f:fc81::@{{ service_ipv6_address | ipaddr('address') }}
all-servers
neg-ttl=5

bogus-priv
domain-needed
