*filter
:INPUT ACCEPT [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
-A FORWARD -p tcp -m tcp --dport 25 -j REJECT --reject-with icmp-port-unreachable
-A FORWARD -s {{ gateway_ipv4_address | ipaddr('net') }} -i br0 -j ACCEPT
-A FORWARD -d {{ gateway_ipv4_address | ipaddr('net') }} -o br0 -j ACCEPT
COMMIT

*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A POSTROUTING -s {{ gateway_ipv4_address | ipaddr('net') }} -o eth0 -j SNAT --to-source {{ service_ipv4_address | ipaddr('address') }}
COMMIT
